body {
  font-family : 'Fira Sans';
  max-width   : 700px;
  margin      : 0 auto;
  padding     : 20px;
}

.graphene {
  color : #545454;

  a {
    color : #de4751;
  }

  blockquote {
    color : #333;
  }

  hr {
    background-color : #dedede;
  }

  .cell.inEditMode {
    border-color : #dedede;
  }

  .text-cell {
    font-size        : 18px;
    line-height      : 1.6;
    font-family      : 'Fira Sans';
    background-color : #fbfbfb;
  
    table,
    table th,
    table td {
      border : 1px solid #dedede !important;
    }
  }

  .code-cell .editor,
  .markdown-cell .ace_editor,
  .latex-cell .editor {
    font-size   : 16px;
    line-height : 1.6;
  }

  .markdown-cell {
    .ace_markup.ace_heading.ace_1,
    .ace_markup.ace_heading.ace_2,
    .ace_markup.ace_heading.ace_3,
    .ace_markup.ace_heading.ace_4,
    .ace_markup.ace_heading.ace_5,
    .ace_markup.ace_heading.ace_6 {
      color : #de4751 !important;
    }

    .ace_heading,
    .ace_string.ace_strong {
      color       : #333 !important;
      font-weight : bold;
    }

    .ace_line,
    .ace_support.ace_function,
    .ace_string.ace_emphasis,
    .ace_list,
    .ace_string.ace_blockquote,
    .ace_constant.ace_language.ace_escape {
      color : #545454 !important;
    }
  }
  
  #tag-field {
    margin : 0;

    .tag {
      background : #fbfbfb;
      border     : none;
      color      : #a0a0a0;
    }
  }
  
  #titlearea {
    border : none;
  }
}
