body {
  font-family : 'Fira Sans';
  max-width   : 60%;
  margin      : 0 auto;
  padding     : 20px;
}

.graphene {
  color : #545454;

  a {
    color : #de4751;
  }
  
  table {
    width : 100%;

    tr {
      background-color : #fbfbfb;
    }

    tr:nth-child(odd) {
      background-color : #efefef;
    }

    tr, td {
      border-color : #dedede;
    }
  }
  
  blockquote {
    color        : #333;
    border-color : #de4751;
  }
  
  hr {
    background-color : #dedede;
  }
  
  .text-cell, .markdown-cell {
    font-size        : 22px;
    line-height      : 1.6;
    font-family      : 'Fira Sans';
    background-color : #fbfbfb;
  }
  
  .code-cell, .latex-cell {
    font-size   : 20px;
    line-height : 1.6;
  }
  
  *+h1, *+h2 {
    margin-top : 52px;
  }
  
  *+h3, *+h4 {
    margin-top : 39px;
  }
  
  *+h5, *+h6 {
    margin-top : 26px;
  }
}
