@import "colors";
@import "common";

.graphene {
  @extend .common;

  a {
    color : #de4751;
  }
  
  table {
    width : 100%;

    tr {
      background-color : #fbfbfb;
    }
    
    tr:nth-child(odd) {
      background-color : #efefef;
    }
    
    th {
      background : #fbfbfb;
    }
    
    td, th {
      border-color : #dedede;
    }
  }
  
  hr {
    background-color : #dedede;
  }
  
  code {
    padding   : 3px 6px;
  }
  
  .text-cell, .diagram-cell, .markdown-cell {
    line-height : 1.6;
  }
  
  .code-cell, .latex-cell {
    line-height : 1.6;
  }
  
  .markdown-cell .ace_line {
  }
  
  #tag-field {
    margin : 0;
  }
  
  #tag-field .tag {
    background : #fbfbfb;
    border     : none;
    color      : #a0a0a0;
  }
  
  #titlearea {
    border : none;
  }
  
  *+h1, *+h2 {
    margin-top : 52px;
  }
  
  *+h3, *+h4 {
    margin-top : 39px;
  }
  
  *+h5, *+h6 {
    margin-top : 26px;
  }
}
