body {
  font-family : 'Fira Sans';
  max-width   : 700px;
  margin      : 0 auto;
  padding     : 20px;
}

.graphene {
  color : #545454;

  a {
    color : #de4751;
  }
  
  table {
    width : 100%;

    tr {
      background-color : #fbfbfb;
    }
    
    tr:nth-child(odd) {
      background-color : #efefef;
    }
    
    th {
      background : #fbfbfb;
    }
    
    td, th {
      border-color : #dedede;
    }
  }
  
  blockquote {
    color        : #333;
    border-color : #de4751;
  }
  
  hr {
    background-color : #dedede;
  }
  
  code {
    font-size : 16px;
    padding   : 3px 6px;
  }
  
  .text-cell, .diagram-cell, .markdown-cell {
    font-size   : 18px;
    line-height : 1.6;
    font-family : 'Fira Sans';
  }
  
  .code-cell, .latex-cell {
    font-size   : 16px;
    line-height : 1.6;
  }
  
  .markdown-cell .ace_line {
    font-size : 16px;
  }
  
  #tag-field {
    margin : 0;
  }
  
  #tag-field .tag {
    background : #fbfbfb;
    border     : none;
    color      : #a0a0a0;
  }
  
  #titlearea {
    border : none;
  }
  
  *+h1, *+h2 {
    margin-top : 52px;
  }
  
  *+h3, *+h4 {
    margin-top : 39px;
  }
  
  *+h5, *+h6 {
    margin-top : 26px;
  }
}
